.create {
    padding: 7rem 1rem 1rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
    margin-top: 1rem;
    color: #323232;
}

.create h2 {
    font-size: 24px;
    color: #323232;
    margin-bottom: 30px;
}

.create input {
    width: 100%;
    padding: 6px 10px;
    min-height: 40px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 6px;
    background: transparent;
    display: block;
}

.create select:focus {
    outline: none !important;
    border: 2px solid #323232;
}

.create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    color: #323232;
    box-sizing: border-box;
    border-radius: 6px;
    background: transparent;
    display: block;
}

.theme-construction {
    --radius: 0;
    --baseFg: white;
    --baseBg: black;
    --accentFg: black;
    --accentBg: orange;
}

.create input:focus {
    outline: none !important;
    border: 2px solid #323232;
}

.create textarea {
    width: 100%;
    min-height: 150px;
    padding: 6px 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: transparent;
    display: block;
}

.create textarea:focus {
    outline: none !important;
    border: 2px solid #323232;
}

.create button {
    width: 100px;
    background: #323232;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}


/* checkbox css */
/* The container */
.checkbox-grid {
    display: flex;
}

.container {
    position: relative;
    padding-left: 30px;
    max-height: 50px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    vertical-align: auto;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    border-radius: 5px;
    
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 5px;
    position: absolute;
    border: 1px solid #323232;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    text-align: center;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #323232;
    border-radius: 5px;
    display: inline;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: flex;
    margin-left: 4px;
    margin-top: 2px;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    width: 7px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 600px) {
    .checkbox-grid {
        display: block;
    }

    .container {
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
    }
}