* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GilroyBold";
    src: local("GilroyBold"),
     url("./fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
}

.about {
    padding: 2rem 2rem 2rem 2rem;
    height: 100% !important;;
    width: 100% !important;;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row .column-img {
    width: 45%;
}

.row .column-text {
    width: 45%;
}

.column-text .tabs {
    display: flex;
}

.single-tab {
    background: white;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.single-tab h2 {
    display: block;
    padding: 10px 16px;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
}

.single-tab-active {
    border-radius: 4px;
    margin-right: 10px;
    background: #323232;
    position: relative;
}

.single-tab-active::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #323232 transparent transparent transparent;
}

.single-tab-active h2 {
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.about-img {
    position: relative;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    max-height:450px;
    width: auto;
    border-radius: 6px;
    height: auto;
}

.content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: none;
}

.content.active {
    display: block;
}

.content h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.content p {
    padding-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #999;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* forms and text */
.item1 {
    font-size: 4.1875rem;
    line-height: 1.0;
    white-space: pre-line;
    text-align: left;
    font-weight: 700;
    max-width: 1170px;
    word-spacing: 100vw;
    color: #323232;
    margin-bottom: 20px;
}

.item2 {
  font-size: 20px;
  margin-right: auto;
  text-align: left;
  color: #323232;
  line-height: 1.2;
  padding-bottom: 6px;
  margin-bottom: 10px;
}


.home-img {
    position: relative;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    max-height:450px;
    width: auto;
    border-radius: 6px;
    height: auto;
}

.item4 {
    margin-right: auto;
    width: 50%;
}

.item5 {
  
    margin-right: auto;
    text-align: left;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 500;
}

.form {
    display: flex;
    position: relative;
    max-width: 200%;
    max-height:450px;
    margin-bottom: 5px;
}

.form--input {
    position: relative;
    max-width: 100%;
    max-height:450px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    padding: 8px 24px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 1.125rem;
    border: 1px solid #323232;
    box-shadow: #323232 0px 1px 2px;
}


.form--input:focus {
    outline: none !important;
    border: 2px solid #323232;
}

.form--button {
    transition: all 0.2s linear 0s;
    position: relative;
    width: 25%;
    display: inline-flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    font-family: Gilroy;
    font-weight: 600;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #323232;
    padding: 10px 18px;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    opacity: 1;
    font-size: 1.125rem;
    line-height: 1.6;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

@media screen and (max-width:600px) {
    .about {
        padding: 2rem 1rem 3rem 1rem;
    }

    .row {
        display: block;
        text-align: center;
        margin:0 auto;
        width: 100%;
    }

    .about-img {
        max-height: 400px;
    }

    .row .column-img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .row .column-text {
        display: block;
        width: 100%;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }

    .row .column-text .tabs {
        display: flex;
        align-items: center;
        vertical-align: middle;
        float: none;
        justify-content: center;
        padding-top: 2rem;
    }

    .item1 {
        font-size: 3.1875rem;
        line-height: 1;
        margin-bottom: 10px;
    }

    
    .item2 {
        font-size: 18px;
        margin-right: auto;
        text-align: left;
        color: #323232;
        line-height: 1.1;
        padding-bottom: 6px;
        margin-bottom: 10px;
    }

    .form {
        margin-bottom: 10px;
    }

    .form--input {
        font-size: 1.025rem;
    }

    .form--button {
        font-size: 1.025rem;
        line-height: 1.4;
    }
}