* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Hanalei Fill', Hanal, monospace;  
} 


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 25px 25px;
}

.nav-logo {
    width: 40px;
}

.nav-name {
    margin: 0;
    margin-right: auto;
    color: black;
    font-weight: 700;
    font-size: 22px;
    margin-left: 20px;
}

.nav-items {
    list-style: none;
    display: flex;
    letter-spacing: -1px;
    margin-right: 70px;
}

.nav-items > li {
    padding: 10px;
}

.nav-language-items {
    list-style: none;
    margin-left: auto;
    display: flex;
    letter-spacing: -1px;
}

.nav-language-items > li {
    padding: 10px;
}

.container {
    width: 100%;
    height: 100vh;
}

.dropdown {
    width: 200px;
    margin: 0 auto;
 
    position: relative;
}

.dropdown .dropdown-btn{
    padding: 15px 20px;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0, 0.06);
    font-weight: bold;
    display: flex;
    color: #333;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 15px;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 95%;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    transition: 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background: #f4f4f4;
}